@use "./reset.scss";

:root {
  --background: #fefefe;
  --foreground: #333333;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
p {
  line-height: 1.75;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0 0 0 0;
  line-height: 1.75;
}

// select,
// button {
//   border-radius: 4px;
//   padding: 10px;
//   border: 1px solid #ccc;
// }

// em {
//   font-style: normal;
//   margin: 0 0.25em;
//   font-weight: bolder;
//   color: #111;
// }
